html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 20px 60px 0px 20px;
}

footer {
  position: fixed; 
  bottom: 0; 
  margin: 10px 0px 20px 0px;
}
.card{
  background-color: #000d;
  width: 30%;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 35%;
  align-items: center;
  border-radius: 15px;
  box-shadow: 10px 15px 5px #0003;
  margin-top: 15%;

}
